input {
    color:white;
    background-color: #112044;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
}

.inputComponent {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.error {
    color: red;
    font-size: small;
}

@media (max-width : 600px) {
    input {
        height: 20px;
    }
}