.navText {
    margin: 15px;
    color: white;
    justify-content: center;
    transition: color 0.1s ease-in-out;
}

.navText:hover {
    color:#64ffda
}

.navIcon {
    height: 100%;
    width: min-content;
}