.jobObject {
    background-color: rgb(2,12,27,0.7);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.jobHeader {
    display: flex;
    flex-direction: row;
}

.jobLogo {
    margin-right: 20px;
    height: 5vh;
    background-color: white;
    border-radius: 5px;
}

.jobTitle {
    color: #ccd6f6
}

.jobEmployer {
    color:#64ffda;
}

.fullTitle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: large;
    font-weight: 500;
}