textarea {
    font-family: inherit;
    color:white;
    background-color: #112044;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    min-height: 200px;
    width: unset;
}

.textareaComponent {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.error {
    color: red;
    font-size: small;
}