.aboutMe {
    display: flex;
    width: 25vw;
    flex-direction: column;
    margin-bottom: auto;
    gap: 30px;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 250px;
}

@media (max-width : 1000px) {
    .aboutContainer {
        flex-direction: column;
        gap: 100px;
    }

    .aboutMe {
        width: 50vw;
    }
    
}

.aboutMeDesc {
    background-color: rgb(2, 12, 27, 0.7);
    padding: 20px;
    border-radius: 5px;
}

.headshot {
    height: 25vh;
}

.headshotContainer {
    display: flex;
    justify-content: center;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
}

.skillCol {
    flex-direction: column;
}