.contactContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 35%;
    background-color: rgb(2, 12, 27, 0.7);
    padding: 20px;
    border-radius: 20px;
    gap: 15px;
}