.contactContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10vh;
    justify-content: center;
    width: 50vw;
    background-color: rgb(2, 12, 27, 0.7);
    padding: 20px;
    border-radius: 20px;
    gap: 15px;
    box-shadow: 5px 5px 5px black;
}

@media (max-width : 1000px) {
    .contactContainer {
        width : 80vw
    }
}

.loadingRing {
    display: flex;
    justify-content: center;
}