.navContainer {
    position: fixed;
    top:0;
    width: 100%;
}

.navbar {
    position: relative;
    display: flex;
    z-index: 99;
    background-color: #0a192f;
    width: 100%;
    justify-content: flex-end;
    box-shadow: 10px 10px 10px rgb(19, 19, 19);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.pcNav {
    display: inherit;
    flex-direction: row;
}

.mobileNav {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 98;
    width: 100%;
    text-align: center;
    transform: translateY(-150%);
    transition: 0.5s transform ease-in-out;
}

.visible {
    transform: translateY(0);
}

.positionBurger {
    margin-top: 5px;
    margin-right: 10px;
}

.visibleNav {
    transform: translateY(0)
}