.navbar {
    display: flex;
    position: sticky;
    z-index: 999999999;
    background-color: #0a192f;
    top:0;
    width: 100%;
    justify-content: flex-end;
    box-shadow: 10px 10px 10px rgb(19, 19, 19);
}